#adtm_menu_inner {background-color:;}
#adtm_menu {position:relative;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;border-color:;border-width:0px 0px 0px 0px;-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); filter:progid:DXImageTransform.Microsoft.Shadow(color=, Direction=137, Strength=0);}
#adtm_menu_inner {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;border-color:;border-width:0px 0px 0px 0px;}
#adtm_menu .li-niveau1 a.a-niveau1 {min-height:45px;line-height:45px;}
#adtm_menu .li-niveau1 a.a-niveau1.a-multiline {line-height:22.50px;}
#adtm_menu .li-niveau1 {min-height:45px; line-height:17px;}
#adtm_menu .li-niveau1 a.a-niveau1 .advtm_menu_span {min-height:45px;line-height:45px;}
#adtm_menu .li-niveau1 a.a-niveau1.a-multiline .advtm_menu_span {line-height:22.50px;}
#adtm_menu .li-niveau1 .searchboxATM { display: table-cell; height:45px; vertical-align: middle; }
#adtm_menu .li-niveau1 .searchboxATM .adtm_search_submit_button { height:45px; }
#adtm_menu ul#menu li div.adtm_sub {top:61px;}
.li-niveau1 a span {padding:8px 20px 8px 20px;margin:0px 15px 0px 15px;}
.li-niveau1 .advtm_menu_span, .li-niveau1 a .advtm_menu_span {color:#808080;}
.li-niveau1 a .advtm_menu_span, .li-niveau1 .advtm_menu_span {background-color:;}
.li-niveau1 a.advtm_menu_actif .advtm_menu_span {background-color:;}
.li-niveau1 a.a-niveau1 {border-color:;border-width:0px 0px 0px 0px;}
.li-niveau1 .adtm_sub {border-color:; border-width:0px 0px 0px 0px; -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); -o-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=137, Strength=0);}
.li-niveau1 .adtm_sub {background-color:#ffffff;}
#adtm_menu ul#menu .li-niveau1 div.adtm_sub {opacity: 0; visibility: hidden;}
#adtm_menu ul#menu .li-niveau1:hover div.adtm_sub { opacity: 1; visibility: visible; transition:visibility 0s linear 0.3s, opacity 0.3s linear 0.3s;}
.adtm_column_wrap span.column_wrap_title, .adtm_column_wrap span.column_wrap_title a {color:#000000;}
.adtm_column_wrap a {color:#000000;}
#adtm_menu .adtm_column_wrap {padding:0px 0px 0px 0px;}
#adtm_menu .adtm_column {padding:0px 0px 0px 0px;margin:0px 10px 30px 10px;}
#adtm_menu .adtm_column ul.adtm_elements li a {padding:5px 0px 5px 0px;margin:0px 0px 0px 0px;}
#adtm_menu .adtm_column_wrap span.column_wrap_title {padding:0px 0px 0px 0px;margin:0px 0px 10px 0px;}
#adtm_menu .li-niveau1 a.a-niveau1 .advtm_menu_span {font-size:14px; font-weight:bold; text-decoration:none; text-transform:capitalize;}
#adtm_menu .li-niveau1 a.advtm_menu_actif .advtm_menu_span {color: #000000; text-decoration:none;}
#adtm_menu .adtm_column span.column_wrap_title, #adtm_menu .adtm_column span.column_wrap_title a {font-size:12px; font-weight:bold; text-decoration:none; text-transform:none;}
#adtm_menu .adtm_column span.column_wrap_title:hover, #adtm_menu .adtm_column span.column_wrap_title a:hover {color:#808080; text-decoration:none;}
#adtm_menu .adtm_column ul.adtm_elements li, #adtm_menu .adtm_column ul.adtm_elements li a {font-size:11px; font-weight:normal; text-decoration:none; text-transform:none;}
#adtm_menu .adtm_column ul.adtm_elements li:hover, #adtm_menu .adtm_column ul.adtm_elements li a:hover {color:#808080; text-decoration:none;}
.li-niveau1 .adtm_sub {width: 100%}
#adtm_menu table.columnWrapTable {table-layout:fixed;}
#adtm_menu {z-index:9;}
.li-niveau1 .adtm_sub {z-index:99;}
#adtm_menu .advtm_hide_desktop {display:none!important;}
@media (min-width: 991px) {
.li-niveau1 a:hover .advtm_menu_span, .li-niveau1 .advtm_menu_span:hover, .li-niveau1:hover > a.a-niveau1 .advtm_menu_span {background-color:;}
#adtm_menu .li-niveau1 a.a-niveau1:hover .advtm_menu_span, .li-niveau1:hover > a.a-niveau1 .advtm_menu_span {color: #000000; text-decoration:none;}
}
div#adtm_menu_inner {width: inherit;}
#adtm_menu ul .advtm_menu_toggle {display: none;}
@media (max-width: 991px) {
#adtm_menu {position:relative; top:initial; left:initial; right:initial; bottom:initial;}
#adtm_menu .advtm_hide_mobile {display:none!important;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.advtm_search.advtm_hide_mobile {display:none!important;}
#adtm_menu a.a-niveau1, #adtm_menu .advtm_menu_span { height: auto !important; }
#adtm_menu ul li.li-niveau1 {display: none;}
#adtm_menu ul li.advtm_menu_toggle {width: 1px; height: 1px; visibility: hidden; min-height: 1px !important; border: none; padding: 0; margin: 0; line-height: 1px;}
#adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button {width: 100%; cursor: pointer;}
#adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {background-position: right 15px center; background-repeat: no-repeat;}
#adtm_menu .adtm_menu_icon { height: auto; max-width: 100%; }
#adtm_menu ul .li-niveau1 .adtm_sub {width: auto; height: auto; min-height: inherit;}
#adtm_menu ul div.adtm_column_wrap {min-height: inherit; width: 100% !important;}
#adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAgMAAACdGdVrAAAACVBMVEUAAAAAAAAAAACDY+nAAAAAAnRSTlMA3Pn2U8cAAAAaSURBVAjXY4CCrFVAsJJhFRigUjA5FEBvfQDmRTo/uCG3BQAAAABJRU5ErkJggg==); background-position: right 15px center; background-repeat: no-repeat;}
#adtm_menu .li-niveau1 a.a-niveau1 .advtm_menu_span {font-size:14px; font-weight:bold; text-transform:capitalize; font-family:0;}
#adtm_menu .adtm_column span.column_wrap_title, #adtm_menu .adtm_column span.column_wrap_title a {font-size:14px; font-weight:bold; text-transform:none; font-family:0;}
#adtm_menu .adtm_column ul.adtm_elements li, #adtm_menu .adtm_column ul.adtm_elements li a {font-size:14px; font-weight:normal; text-transform:none; font-family:0;}
#adtm_menu .li-niveau1.adtm_sub_open a.a-niveau1 .advtm_menu_span, #adtm_menu .li-niveau1 a.a-niveau1:focus .advtm_menu_span, .li-niveau1:focus > a.a-niveau1 .advtm_menu_span {color: #000000; text-decoration:none;}
#adtm_menu.adtm_menu_toggle_open ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {color:#000000;}
#adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {color:#999999;}
#adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {font-size:14px;min-height:40px;line-height:40px;}
#adtm_menu.adtm_menu_toggle_open li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {background-color:;}
#adtm_menu ul li.advtm_menu_toggle a.adtm_toggle_menu_button span.adtm_toggle_menu_button_text {background-color:;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.sub a.a-niveau1 span {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAABnRSTlMAHiXy6t8iJwLjAAAANUlEQVQY02MgFwgisZmMFZA4Zo5IUiLJSFKMbkZESqUoYKjDNFw5RYAYCSckW0IEULxAPgAAZQ0HP01tIysAAAAASUVORK5CYII=); background-repeat: no-repeat; background-position: right 15px center;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.sub.adtm_sub_open a.a-niveau1 span {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAASAQCkAAAABnRSTlMAHiXy6t8iJwLjAAAARUlEQVQY02OgKWBUAJFMYJJB1AhEChuCOSLJCkBpNxAHRBsBRVIUIJpUkhVgEmAlIKVgAFIDUgmXgkmAzXWCMqA20hgAAI+xB05evnCbAAAAAElFTkSuQmCC); background-repeat: no-repeat; background-position: right 15px center;}
.li-niveau1 a span {padding:5px 10px 5px 10px;margin:0px 0px 0px 0px;}
.li-niveau1 a.a-niveau1 {border-color:;border-width:0px 0px 0px 0px;}
.li-niveau1 .advtm_menu_span, .li-niveau1 a .advtm_menu_span {color:#000000;}
.li-niveau1 a .advtm_menu_span, .li-niveau1 .advtm_menu_span {background-color:#ffffff;}
#adtm_menu.adtm_menu_toggle_open .li-niveau1.sub.adtm_sub_open a .advtm_menu_span, .li-niveau1 a:focus .advtm_menu_span, .li-niveau1 a.advtm_menu_actif .advtm_menu_span, .li-niveau1 .advtm_menu_span:focus, .li-niveau1:focus > a.a-niveau1 .advtm_menu_span {background-color:;}
.li-niveau1 .adtm_sub {background-color:;}
.li-niveau1 .adtm_sub {border-color:; border-width:0px 0px 0px 0px;}
#adtm_menu .adtm_column_wrap {padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
#adtm_menu .adtm_column_wrap_td {border-color:;border-width:0px 0px 0px 0px;}
#adtm_menu .adtm_column {padding:0px 0px 5px 0px;margin:0px 10px 5px 10px;}
#adtm_menu .adtm_column_wrap span.column_wrap_title {padding:0px 0px 0px 0px;margin:8px 0px 8px 0px;}
.adtm_column_wrap span.column_wrap_title, .adtm_column_wrap span.column_wrap_title a {color:#000000;}
#adtm_menu .adtm_column ul.adtm_elements li a {padding:5px 0px 5px 10px;margin:15px 0px 15px 0px;}
.adtm_column_wrap a {color:#999999;}
#adtm_menu.adtm_menu_toggle_open ul#menu .advtm_hide_desktop {display: block !important;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1 {display: block !important;float: none;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.advtm_hide_mobile {display: none !important;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1.advtm_menu_toggle.adtm_menu_mobile_mode {display: none !important;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.li-niveau1 a.a-niveau1 {float: none;}
#adtm_menu.adtm_menu_toggle_open ul#menu li div.adtm_sub  {display: none; position: static; height: auto;}
#adtm_menu.adtm_menu_toggle_open ul#menu li div.adtm_sub.adtm_submenu_toggle_open  {display: block;}
#adtm_menu.adtm_menu_toggle_open table.columnWrapTable {display: table !important; width: 100% !important;}
#adtm_menu.adtm_menu_toggle_open table.columnWrapTable tr td {display: block;}
#adtm_menu.adtm_menu_toggle_open ul#menu li.advtm_search .searchboxATM { display: flex; }
#adtm_menu.adtm_menu_toggle_open ul#menu li.advtm_search .searchboxATM .search_query_atm { padding: 15px 5px; width: 100%; }
#adtm_menu ul#menu .li-niveau1 div.adtm_sub {opacity: 1;visibility:visible;}
#adtm_menu ul#menu .li-niveau1:hover div.adtm_sub, #adtm_menu ul#menu .li-niveau1:focus div.adtm_sub {transition: none;}
}