img.adtm_menu_icon {vertical-align:top;margin-right:3px;}
#adtm_menu .searchboxATM .search_query_atm {width:150px;margin-left:0!important;}
#adtm_menu .searchboxATM .button_mini {display:inline-block;}
#adtm_menu .adtm_unclickable {text-decoration:none!important;}
